# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# Data & models (не хотим тащить гигабайты в GitHub)
data/*
!data/target_app/
!data/target_app/**

# Secrets
.env
HF_TOKEN

# OS
.DS_Store
Thumbs.dbvenv/
venv/
